version: '3'
services:
  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: rabbitmq
    ports:
      - 15672:15672
      - 5672:5672
    networks:      
      - testing_net
    healthcheck:        
      test: [ "CMD", "nc", "-z", "localhost", "5672" ]
      interval: 10s        
      timeout: 5s        
      retries: 10
    logging:
      driver: none

  
  receiver:
    container_name: receiver
    entrypoint: python3 /main.py
    environment:
      - PYTHONUNBUFFERED=1
      - HOST=receiver
      - PORT=12345
      - NAME_STATIONS_QUEUE=joiner_stations_q
      - NAME_WEATHER_QUEUE=joiner_weather_q
      - NAME_TRIPS_QUEUES=['join_trip_stations_q', 'join_trip_weather_q', 'groupby_all_elements_q']
      - NAME_EM_QUEUE=eof_manager_joiners_q
      - NAME_STATUS_QUEUE=new_clients_q
      - AMOUNT_QUERIES=3
    image: receiver:latest
    ports:
      - 12345:12345
    networks:      
      - testing_net
    depends_on:
      rabbitmq:
        condition: service_healthy


  
  joiner_stations:
    container_name: joiner_stations
    entrypoint: python3 /main.py
    environment:
      - PYTHONUNBUFFERED=1
      - NAME_RECV_QUEUE=joiner_stations_q
      - NAME_TRIPS_QUEUE=join_trip_stations_q
      - NAME_EM_QUEUE=eof_manager_joiners_q
      - NAME_NEXT_STAGE_QUEUE=filter_joined_stations_q
    image: joiner_stations:latest
    networks:      
      - testing_net
    depends_on:
      rabbitmq:
        condition: service_healthy

  
  joiner_weather:
    container_name: joiner_weather
    entrypoint: python3 /main.py
    environment:
      - PYTHONUNBUFFERED=1
      - NAME_RECV_QUEUE=joiner_weather_q
      - NAME_TRIPS_QUEUE=join_trip_weather_q
      - NAME_EM_QUEUE=eof_manager_joiners_q
      - NAME_NEXT_STAGE_QUEUE=filter_joined_weather_q
    image: joiner_weather:latest
    networks:      
      - testing_net
    depends_on:
      rabbitmq:
        condition: service_healthy


  
  filter_pretoc_1:
    container_name: filter_pretoc_1
    entrypoint: python3 /main.py
    environment:
      - PYTHONUNBUFFERED=1
      - NAME_RECV_EXCHANGE=filter_joined_weather_q
      - NAME_RECV_QUEUE=filter_pretoc_q
      - NAME_EM_QUEUE=eof_manager_filters_q
      - NAME_SEND_QUEUE=groupby_start_date_q
      - ID_QUERY=1
    image: filter_pretoc:latest
    networks:      
      - testing_net
    depends_on:
      rabbitmq:
        condition: service_healthy

  
  filter_year_1:
    container_name: filter_year_1
    entrypoint: python3 /main.py
    environment:
      - PYTHONUNBUFFERED=1
      - NAME_RECV_EXCHANGE=filter_joined_stations_q
      - NAME_RECV_QUEUE=filter_year_q
      - NAME_EM_QUEUE=eof_manager_filters_q
      - NAME_SEND_QUEUE=groupby_start_station_q
      - ID_QUERY=2
    image: filter_year:latest
    networks:      
      - testing_net
    depends_on:
      rabbitmq:
        condition: service_healthy

  filter_distance_1:
    container_name: filter_distance_1
    entrypoint: python3 /main.py
    environment:
      - PYTHONUNBUFFERED=1
      - NAME_RECV_EXCHANGE=filter_joined_stations_q
      - NAME_RECV_QUEUE=filter_distance_q
      - NAME_EM_QUEUE=eof_manager_filters_q
      - NAME_SEND_QUEUE=groupby_end_station_q
      - ID_QUERY=3
    image: filter_distance:latest
    networks:      
      - testing_net
    depends_on:
      rabbitmq:
        condition: service_healthy

  

  
  groupby_start_date:
    container_name: groupby_start_date
    entrypoint: python3 /main.py
    environment:
      - PYTHONUNBUFFERED=1
      - NAME_RECV_QUEUE=groupby_start_date_q
      - NAME_EM_QUEUE=eof_manager_groupby_q
      - NAME_SEND_QUEUE=mean_duration_applier_1_q
      - CHUNK_SIZE=100
    image: groupby_start_date:latest
    networks:      
      - testing_net
    depends_on:
      rabbitmq:
        condition: service_healthy

  
  groupby_start_station:
    container_name: groupby_start_station
    entrypoint: python3 /main.py
    environment:
      - PYTHONUNBUFFERED=1
      - NAME_RECV_QUEUE=groupby_start_station_q
      - NAME_EM_QUEUE=eof_manager_groupby_q
      - NAME_SEND_QUEUE=double_year_applier_q
      - CHUNK_SIZE=100
    image: groupby_start_station:latest
    networks:      
      - testing_net
    depends_on:
      rabbitmq:
        condition: service_healthy

  
  groupby_end_station:
    container_name: groupby_end_station
    entrypoint: python3 /main.py
    environment:
      - PYTHONUNBUFFERED=1
      - NAME_RECV_QUEUE=groupby_end_station_q
      - NAME_EM_QUEUE=eof_manager_groupby_q
      - NAME_SEND_QUEUE=mean_distance_applier_q
      - CHUNK_SIZE=100
    image: groupby_end_station:latest
    networks:      
      - testing_net
    depends_on:
      rabbitmq:
        condition: service_healthy

  
  groupby_all_elements:
    container_name: groupby_all_elements
    entrypoint: python3 /main.py
    environment:
      - PYTHONUNBUFFERED=1
      - NAME_RECV_QUEUE=groupby_all_elements_q
      - NAME_EM_QUEUE=eof_manager_groupby_q
      - NAME_SEND_QUEUE=mean_duration_applier_4_q
      - ID_QUERY=4
      - CHUNK_SIZE=100
    image: groupby_all_elements:latest
    networks:      
      - testing_net
    depends_on:
      rabbitmq:
        condition: service_healthy


  
  mean_duration_applier_1_1:
    container_name: mean_duration_applier_1_1
    entrypoint: python3 /main.py
    environment:
      - PYTHONUNBUFFERED=1
      - NAME_RECV_QUEUE=mean_duration_applier_1_q
      - NAME_EM_QUEUE=eof_manager_applier_q
      - NAME_SEND_QUEUE=query_results_q
      - ID_QUERY=1
    image: mean_duration_applier:latest
    networks:      
      - testing_net
    depends_on:
      rabbitmq:
        condition: service_healthy

  
  double_year_applier_1:
    container_name: double_year_applier_1
    entrypoint: python3 /main.py
    environment:
      - PYTHONUNBUFFERED=1
      - NAME_RECV_QUEUE=double_year_applier_q
      - NAME_EM_QUEUE=eof_manager_applier_q
      - NAME_SEND_QUEUE=query_results_q
    image: double_year_applier:latest
    networks:      
      - testing_net
    depends_on:
      rabbitmq:
        condition: service_healthy

  
  mean_distance_applier_1:
    container_name: mean_distance_applier_1
    entrypoint: python3 /main.py
    environment:
      - PYTHONUNBUFFERED=1
      - NAME_RECV_QUEUE=mean_distance_applier_q
      - NAME_EM_QUEUE=eof_manager_applier_q
      - NAME_SEND_QUEUE=query_results_q
    image: mean_distance_applier:latest
    networks:      
      - testing_net
    depends_on:
      rabbitmq:
        condition: service_healthy

  
  mean_duration_applier_4_1:
    container_name: mean_duration_applier_4_1
    entrypoint: python3 /main.py
    environment:
      - PYTHONUNBUFFERED=1
      - NAME_RECV_QUEUE=mean_duration_applier_4_q
      - NAME_EM_QUEUE=eof_manager_applier_q
      - NAME_SEND_QUEUE=query_results_q
      - ID_QUERY=4
    image: mean_duration_applier:latest
    networks:      
      - testing_net
    depends_on:
      rabbitmq:
        condition: service_healthy


  
  results_verifier:
    container_name: results_verifier
    entrypoint: python3 /main.py
    environment:
      - PYTHONUNBUFFERED=1
      - NAME_RECV_QUEUE=query_results_q
      - NAME_EM_QUEUE=eof_manager_query_result_q
      - AMOUNT_QUERIES=4
    image: results_verifier:latest
    networks:      
      - testing_net
    depends_on:
      rabbitmq:
        condition: service_healthy

  
  results_sender:
    container_name: results_sender
    entrypoint: python3 /main.py
    environment:
      - PYTHONUNBUFFERED=1
      - HOST=results_sender
      - PORT=12346
    ports:
      - 12346:12346
    image: results_sender:latest
    networks:      
      - testing_net
    depends_on:
      rabbitmq:
        condition: service_healthy

    
  
  eof_manager_joiners:
    container_name: eof_manager_joiners
    entrypoint: python3 /main.py
    environment:
      - PYTHONUNBUFFERED=1
      - NAME_RECV_QUEUE=eof_manager_joiners_q
      - NAME_SEND_QUEUE=eof_manager_filters_q
      - NAME_STATIONS_QUEUE=joiner_stations_q
      - NAME_WEATHER_QUEUE=joiner_weather_q
      - NAME_JOIN_STATIONS_QUEUE=join_trip_stations_q
      - NAME_JOIN_WEATHER_QUEUE=join_trip_weather_q
      - NAME_STATUS_QUEUE=new_clients_q
    image: eof_manager_joiners:latest
    networks:      
      - testing_net
    depends_on:
      rabbitmq:
        condition: service_healthy

  
  eof_manager_filters:
    container_name: eof_manager_filters
    entrypoint: python3 /main.py
    environment:
      - PYTHONUNBUFFERED=1
      - NAME_RECV_QUEUE=eof_manager_filters_q
      - NAME_FILTERS_QUEUE=['filter_year_q', 'filter_pretoc_q', 'filter_distance_q']
      - NAME_SEND_QUEUE=eof_manager_groupby_q
      - NAME_STATUS_QUEUE=new_clients_q
      - SIZE_WORKERS=[1, 1, 1]
    image: eof_manager_filters:latest
    networks:      
      - testing_net
    depends_on:
      rabbitmq:
        condition: service_healthy

  
  eof_manager_groupby:
    container_name: eof_manager_groupby
    entrypoint: python3 /main.py
    environment:
      - PYTHONUNBUFFERED=1
      - NAME_RECV_QUEUE=eof_manager_groupby_q
      - NAME_GROUPBY_QUEUE=['groupby_start_date_q', 'groupby_start_station_q', 'groupby_end_station_q', 'groupby_all_elements_q']
      - NAME_SEND_QUEUE=eof_manager_applier_q
      - NAME_STATUS_QUEUE=new_clients_q
    image: eof_manager_groupby:latest
    networks:      
      - testing_net
    depends_on:
      rabbitmq:
        condition: service_healthy

  
  eof_manager_appliers:
    container_name: eof_manager_appliers
    entrypoint: python3 /main.py
    environment:
      - PYTHONUNBUFFERED=1
      - NAME_RECV_QUEUE=eof_manager_applier_q
      - NAME_APPLIERS_QUEUES=['mean_duration_applier_1_q', 'double_year_applier_q', 'mean_distance_applier_q', 'mean_duration_applier_4_q']
      - NAME_SEND_QUEUE=eof_manager_query_result_q
      - NAME_STATUS_QUEUE=new_clients_q
      - SIZE_WORKERS=[1, 1, 1, 1]
    image: eof_manager_appliers:latest
    networks:      
      - testing_net
    depends_on:
      rabbitmq:
        condition: service_healthy

  
  eof_manager_query_results:
    container_name: eof_manager_query_results
    entrypoint: python3 /main.py
    environment:
      - PYTHONUNBUFFERED=1
      - NAME_RECV_QUEUE=eof_manager_query_result_q
      - NAME_VERIFIER_QUEUE=query_results_q
      - NAME_STATUS_QUEUE=new_clients_q
      - SIZE_QUERIES=4
    image: eof_manager_query_results:latest
    networks:      
      - testing_net
    depends_on:
      rabbitmq:
        condition: service_healthy


networks:
  testing_net:
    driver: bridge
