version: '3'
services:
  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: rabbitmq
    ports:
      - 15672:15672
      - 5672:5672
    networks:      
      - testing_net
    healthcheck:        
      test: [ "CMD", "nc", "-z", "localhost", "5672" ]
      interval: 10s        
      timeout: 5s        
      retries: 10
    logging:
      driver: none

  
  accepter_1:
    container_name: accepter_1
    entrypoint: python3 /main.py
    environment:
      - PYTHONUNBUFFERED=1
      - HOST=accepter_1
      - PORT=12345
      - NAME_STATIONS_QUEUE=joiner_stations_q
      - NAME_WEATHER_QUEUE=joiner_weather_q
      - NODES_TO_SEND_TRIPS=[('groupby_all_elements_q', 1)]
      - NAME_EM_QUEUE=eof_manager_joiners_q
      - NAME_STATUS_QUEUE=new_clients_q
      - NAME_SM_QUEUE=session_manager_q
      - NAME_RECV_QUEUE=accepter_q
      - SIZE_STATIONS=1
      - SIZE_WEATHER=1
      - SHARDING_AMOUNT=1
      - AMOUNT_QUERIES=3
    image: accepter:latest
    ports:
      - 12345:12345
    networks:      
      - testing_net
    depends_on:
      rabbitmq:
        condition: service_healthy

  accepter_2:
    container_name: accepter_2
    entrypoint: python3 /main.py
    environment:
      - PYTHONUNBUFFERED=1
      - HOST=accepter_2
      - PORT=12346
      - NAME_STATIONS_QUEUE=joiner_stations_q
      - NAME_WEATHER_QUEUE=joiner_weather_q
      - NODES_TO_SEND_TRIPS=[('groupby_all_elements_q', 1)]
      - NAME_EM_QUEUE=eof_manager_joiners_q
      - NAME_STATUS_QUEUE=new_clients_q
      - NAME_SM_QUEUE=session_manager_q
      - NAME_RECV_QUEUE=accepter_q
      - SIZE_STATIONS=1
      - SIZE_WEATHER=1
      - SHARDING_AMOUNT=1
      - AMOUNT_QUERIES=3
    image: accepter:latest
    ports:
      - 12346:12346
    networks:      
      - testing_net
    depends_on:
      rabbitmq:
        condition: service_healthy


  
  processes-restarter-0:
    container_name: processes-restarter-0
    image: processes_restarter:latest
    entrypoint: python3 /main.py
    environment:
      - PYTHONUNBUFFERED=1
      - LOGGING_LEVEL=INFO
      - ID_ELECTION=0
      - N_PROCESS_ELECTION=2
      - CONTAINERS_KEEP_ALIVE=accepter_1,accepter_2,filter_year_1,filter_pretoc_1,filter_distance_1,eof_manager_filters,mean_duration_applier_1_1,double_year_applier_1,mean_distance_applier_1,mean_duration_applier_4_1,eof_manager_appliers,groupby_start_date_1,groupby_start_station_1,groupby_end_station_1,groupby_all_elements_1,eof_manager_groupby,joiner_weather_1,joiner_stations_1,eof_manager_joiners,session_manager,results_verifier,eof_manager_query_results
      - CONTAINER_RESTARTER_NAME=processes-restarter-
      - NETWORK_PROBLEMS=0
      - BASE_IP_ADDRESS=172.25.125.4
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      testing_net:
        ipv4_address: 172.25.125.4

  processes-restarter-1:
    container_name: processes-restarter-1
    image: processes_restarter:latest
    entrypoint: python3 /main.py
    environment:
      - PYTHONUNBUFFERED=1
      - LOGGING_LEVEL=INFO
      - ID_ELECTION=1
      - N_PROCESS_ELECTION=2
      - CONTAINERS_KEEP_ALIVE=accepter_1,accepter_2,filter_year_1,filter_pretoc_1,filter_distance_1,eof_manager_filters,mean_duration_applier_1_1,double_year_applier_1,mean_distance_applier_1,mean_duration_applier_4_1,eof_manager_appliers,groupby_start_date_1,groupby_start_station_1,groupby_end_station_1,groupby_all_elements_1,eof_manager_groupby,joiner_weather_1,joiner_stations_1,eof_manager_joiners,session_manager,results_verifier,eof_manager_query_results
      - CONTAINER_RESTARTER_NAME=processes-restarter-
      - NETWORK_PROBLEMS=0
      - BASE_IP_ADDRESS=172.25.125.4
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      testing_net:
        ipv4_address: 172.25.125.5


  
  joiner_stations_1:
    container_name: joiner_stations_1
    entrypoint: python3 /main.py
    environment:
      - PYTHONUNBUFFERED=1
      - NAME_RECV_QUEUE=joiner_stations_q
      - NAME_TRIPS_QUEUE=join_trip_stations_q
      - NAME_EM_QUEUE=eof_manager_joiners_q
      - NAME_NEXT_STAGE_EXCHANGE=filters_exchange
      - NAME_NEXT_STAGE_QUEUE=['filter_year_q', 'filter_distance_q']
      - SIZE_WORKERS=[1, 1]
      - ID_JOINER=1
    image: joiner_stations:latest
    networks:      
      - testing_net
    depends_on:
      rabbitmq:
        condition: service_healthy

  
  joiner_weather_1:
    container_name: joiner_weather_1
    entrypoint: python3 /main.py
    environment:
      - PYTHONUNBUFFERED=1
      - NAME_RECV_QUEUE=joiner_weather_q
      - NAME_TRIPS_QUEUE=join_trip_weather_q
      - NAME_EM_QUEUE=eof_manager_joiners_q
      - NAME_NEXT_STAGE_EXCHANGE=filters_exchange
      - NAME_NEXT_STAGE_QUEUE=['filter_pretoc_q']
      - SIZE_WORKERS=[1]
      - ID_JOINER=1
    image: joiner_weather:latest
    networks:      
      - testing_net
    depends_on:
      rabbitmq:
        condition: service_healthy


  
  filter_pretoc_1:
    container_name: filter_pretoc_1
    entrypoint: python3 /main.py
    environment:
      - PYTHONUNBUFFERED=1
      - NAME_RECV_EXCHANGE=filters_exchange
      - NAME_RECV_QUEUE=filter_pretoc_q
      - NAME_EM_QUEUE=eof_manager_filters_q
      - NODE_TO_SEND_TRIPS=['groupby_start_date_q', 1]
      - ID_QUERY=1
      - ID_FILTER=1
    image: filter_pretoc:latest
    networks:      
      - testing_net
    depends_on:
      rabbitmq:
        condition: service_healthy

  
  filter_year_1:
    container_name: filter_year_1
    entrypoint: python3 /main.py
    environment:
      - PYTHONUNBUFFERED=1
      - NAME_RECV_EXCHANGE=filters_exchange
      - NAME_RECV_QUEUE=filter_year_q
      - NAME_EM_QUEUE=eof_manager_filters_q
      - NODE_TO_SEND_TRIPS=['groupby_start_station_q', 1]
      - ID_QUERY=2
      - ID_FILTER=1
    image: filter_year:latest
    networks:      
      - testing_net
    depends_on:
      rabbitmq:
        condition: service_healthy

  filter_distance_1:
    container_name: filter_distance_1
    entrypoint: python3 /main.py
    environment:
      - PYTHONUNBUFFERED=1
      - NAME_RECV_EXCHANGE=filters_exchange
      - NAME_RECV_QUEUE=filter_distance_q
      - NAME_EM_QUEUE=eof_manager_filters_q
      - NODE_TO_SEND_TRIPS=['groupby_end_station_q', 1]
      - ID_QUERY=3
      - ID_FILTER=1
    image: filter_distance:latest
    networks:      
      - testing_net
    depends_on:
      rabbitmq:
        condition: service_healthy

  

  
  groupby_start_date_1:
    container_name: groupby_start_date_1
    entrypoint: python3 /main.py
    environment:
      - PYTHONUNBUFFERED=1
      - NAME_RECV_QUEUE=groupby_start_date_q
      - NAME_EM_QUEUE=eof_manager_groupby_q
      - NAME_SEND_EXCHANGE=appliers_exchange
      - NAME_SEND_QUEUE=mean_duration_applier_1_q
      - SIZE_WORKERS_SEND=1
      - ID_WORKER=1
      - CHUNK_SIZE=100
    image: groupby_start_date:latest
    networks:      
      - testing_net
    depends_on:
      rabbitmq:
        condition: service_healthy

  
  groupby_start_station_1:
    container_name: groupby_start_station_1
    entrypoint: python3 /main.py
    environment:
      - PYTHONUNBUFFERED=1
      - NAME_RECV_QUEUE=groupby_start_station_q
      - NAME_EM_QUEUE=eof_manager_groupby_q
      - NAME_SEND_EXCHANGE=appliers_exchange
      - NAME_SEND_QUEUE=double_year_applier_q
      - SIZE_WORKERS_SEND=1
      - ID_WORKER=1
      - CHUNK_SIZE=100
    image: groupby_start_station:latest
    networks:      
      - testing_net
    depends_on:
      rabbitmq:
        condition: service_healthy

  
  groupby_end_station_1:
    container_name: groupby_end_station_1
    entrypoint: python3 /main.py
    environment:
      - PYTHONUNBUFFERED=1
      - NAME_RECV_QUEUE=groupby_end_station_q
      - NAME_EM_QUEUE=eof_manager_groupby_q
      - NAME_SEND_EXCHANGE=appliers_exchange
      - NAME_SEND_QUEUE=mean_distance_applier_q
      - SIZE_WORKERS_SEND=1
      - ID_WORKER=1
      - CHUNK_SIZE=100
    image: groupby_end_station:latest
    networks:      
      - testing_net
    depends_on:
      rabbitmq:
        condition: service_healthy

  
  groupby_all_elements_1:
    container_name: groupby_all_elements_1
    entrypoint: python3 /main.py
    environment:
      - PYTHONUNBUFFERED=1
      - NAME_RECV_QUEUE=groupby_all_elements_q
      - NAME_EM_QUEUE=eof_manager_groupby_q
      - NAME_SEND_EXCHANGE=appliers_exchange
      - NAME_SEND_QUEUE=mean_duration_applier_4_q
      - SIZE_WORKERS_SEND=1
      - ID_WORKER=1
      - ID_QUERY=4
      - CHUNK_SIZE=100
    image: groupby_all_elements:latest
    networks:      
      - testing_net
    depends_on:
      rabbitmq:
        condition: service_healthy


  
  mean_duration_applier_1_1:
    container_name: mean_duration_applier_1_1
    entrypoint: python3 /main.py
    environment:
      - PYTHONUNBUFFERED=1
      - NAME_RECV_EXCHANGE=appliers_exchange
      - NAME_RECV_QUEUE=mean_duration_applier_1_q
      - NAME_EM_QUEUE=eof_manager_applier_q
      - NAME_SEND_QUEUE=query_results_q
      - ID_QUERY=1
      - ID_APPLIER=1
    image: mean_duration_applier:latest
    networks:      
      - testing_net
    depends_on:
      rabbitmq:
        condition: service_healthy

  
  double_year_applier_1:
    container_name: double_year_applier_1
    entrypoint: python3 /main.py
    environment:
      - PYTHONUNBUFFERED=1
      - NAME_RECV_EXCHANGE=appliers_exchange
      - NAME_RECV_QUEUE=double_year_applier_q
      - NAME_EM_QUEUE=eof_manager_applier_q
      - NAME_SEND_QUEUE=query_results_q
      - ID_APPLIER=1
    image: double_year_applier:latest
    networks:      
      - testing_net
    depends_on:
      rabbitmq:
        condition: service_healthy

  
  mean_distance_applier_1:
    container_name: mean_distance_applier_1
    entrypoint: python3 /main.py
    environment:
      - PYTHONUNBUFFERED=1
      - NAME_RECV_EXCHANGE=appliers_exchange
      - NAME_RECV_QUEUE=mean_distance_applier_q
      - NAME_EM_QUEUE=eof_manager_applier_q
      - NAME_SEND_QUEUE=query_results_q
      - ID_APPLIER=1
    image: mean_distance_applier:latest
    networks:      
      - testing_net
    depends_on:
      rabbitmq:
        condition: service_healthy

  
  mean_duration_applier_4_1:
    container_name: mean_duration_applier_4_1
    entrypoint: python3 /main.py
    environment:
      - PYTHONUNBUFFERED=1
      - NAME_RECV_EXCHANGE=appliers_exchange
      - NAME_RECV_QUEUE=mean_duration_applier_4_q
      - NAME_EM_QUEUE=eof_manager_applier_q
      - NAME_SEND_QUEUE=query_results_q
      - ID_QUERY=4
      - ID_APPLIER=1
    image: mean_duration_applier:latest
    networks:      
      - testing_net
    depends_on:
      rabbitmq:
        condition: service_healthy


  
  results_verifier:
    container_name: results_verifier
    entrypoint: python3 /main.py
    environment:
      - PYTHONUNBUFFERED=1
      - NAME_RECV_QUEUE=query_results_q
      - NAME_EM_QUEUE=eof_manager_query_result_q
      - NAME_SM_QUEUE=end_session_q
      - AMOUNT_QUERIES=4
      - HOST=results_verifier
      - PORT=13000
    ports:
      - 13000:13000
    image: results_verifier:latest
    networks:      
      - testing_net
    depends_on:
      rabbitmq:
        condition: service_healthy

    
  
  eof_manager_joiners:
    container_name: eof_manager_joiners
    entrypoint: python3 /main.py
    environment:
      - PYTHONUNBUFFERED=1
      - NAME_RECV_QUEUE=eof_manager_joiners_q
      - NAME_SEND_QUEUE=eof_manager_filters_q
      - NAME_STATIONS_QUEUE=joiner_stations_q
      - NAME_WEATHER_QUEUE=joiner_weather_q
      - NAME_JOIN_STATIONS_QUEUE=join_trip_stations_q
      - NAME_JOIN_WEATHER_QUEUE=join_trip_weather_q
      - NAME_STATUS_QUEUE=new_clients_q
      - SIZE_STATIONS=1
      - SIZE_WEATHER=1
    image: eof_manager_joiners:latest
    networks:      
      - testing_net
    depends_on:
      rabbitmq:
        condition: service_healthy

  
  eof_manager_filters:
    container_name: eof_manager_filters
    entrypoint: python3 /main.py
    environment:
      - PYTHONUNBUFFERED=1
      - NAME_RECV_QUEUE=eof_manager_filters_q
      - NAME_FILTERS_EXCHANGE=filters_exchange
      - NAME_FILTERS_QUEUE=['filter_year_q', 'filter_pretoc_q', 'filter_distance_q']
      - NAME_SEND_QUEUE=eof_manager_groupby_q
      - NAME_STATUS_QUEUE=new_clients_q
      - SIZE_WORKERS=[1, 1, 1]
    image: eof_manager_filters:latest
    networks:      
      - testing_net
    depends_on:
      rabbitmq:
        condition: service_healthy

  
  eof_manager_groupby:
    container_name: eof_manager_groupby
    entrypoint: python3 /main.py
    environment:
      - PYTHONUNBUFFERED=1
      - NAME_RECV_QUEUE=eof_manager_groupby_q
      - NODES_GROUPBY=[('groupby_start_date_q', 1), ('groupby_start_station_q', 1), ('groupby_end_station_q', 1), ('groupby_all_elements_q', 1)]
      - NAME_SEND_QUEUE=eof_manager_applier_q
      - NAME_STATUS_QUEUE=new_clients_q
    image: eof_manager_groupby:latest
    networks:      
      - testing_net
    depends_on:
      rabbitmq:
        condition: service_healthy

  
  eof_manager_appliers:
    container_name: eof_manager_appliers
    entrypoint: python3 /main.py
    environment:
      - PYTHONUNBUFFERED=1
      - NAME_RECV_QUEUE=eof_manager_applier_q
      - NAME_APPLIERS_EXCHANGE=appliers_exchange
      - NAME_APPLIERS_QUEUES=['mean_duration_applier_1_q', 'double_year_applier_q', 'mean_distance_applier_q', 'mean_duration_applier_4_q']
      - NAME_SEND_QUEUE=eof_manager_query_result_q
      - NAME_STATUS_QUEUE=new_clients_q
      - SIZE_WORKERS=[1, 1, 1, 1]
    image: eof_manager_appliers:latest
    networks:      
      - testing_net
    depends_on:
      rabbitmq:
        condition: service_healthy

  
  eof_manager_query_results:
    container_name: eof_manager_query_results
    entrypoint: python3 /main.py
    environment:
      - PYTHONUNBUFFERED=1
      - NAME_RECV_QUEUE=eof_manager_query_result_q
      - NAME_VERIFIER_QUEUE=query_results_q
      - NAME_STATUS_QUEUE=new_clients_q
      - SIZE_QUERIES=4
    image: eof_manager_query_results:latest
    networks:      
      - testing_net
    depends_on:
      rabbitmq:
        condition: service_healthy


  
  session_manager:
    container_name: session_manager
    entrypoint: python3 /main.py
    environment:
      - PYTHONUNBUFFERED=1
      - MAX_CLIENTS=3
      - NAME_RECV_QUEUE=session_manager_q
      - NAME_SEND_QUEUE=accepter_q
      - NAME_END_SESSION_QUEUE=end_session_q
    image: session_manager:latest
    networks:      
      - testing_net
    depends_on:
      rabbitmq:
        condition: service_healthy


networks:
  testing_net:
    ipam:
      driver: default
      config:
        - subnet: 172.25.125.0/24      
