
version: '3'
services:
  
  client_1:
    container_name: client_1
    entrypoint: python3 /main.py
    environment:
      - PYTHONUNBUFFERED=1
      - ADDRESSES=[('accepter_1', 12345), ('accepter_2', 12346)]
      - HOST_CONSULT=results_verifier
      - PORT_CONSULT=13000
      - CHUNK_SIZE=100
      - MAX_RETRIES=50
      - CITY=montreal
      - FILE_PATH=data/
      - ID_CLIENT=8240553679140242566
    image: client:latest
    networks:      
      - testing_net
    volumes:
    - ./client/results:/results
    - ./data/client_5:/data

networks:
    testing_net:
      name: tp2-distribuidos_testing_net
      external: true
